@import 'tailwindcss';

@theme {
  --grid-cols-app: minmax(18rem, 20rem) 1fr;
  --grid-profile: max-content 1fr min-content;
  --max-width: 700px;
  --form: minmax(7.5rem, 17.5rem) minmax(25rem, 1fr) minmax(0, 15rem);
  --color-violet-25: #fcfaff;
  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    @apply transition-colors duration-200;
  }
}
